.navbar {
  background-color: #007bff; /* Change color as needed */
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it appears above other content */
  display: flex;
  justify-content: space-between; /* Align items to the left and right corners */
  align-items: center; /* Vertically center items */
  padding: 10px;
}

.navbar-brand {
  font-size: 1.5rem;
  margin-right: auto; /* Push brand/logo to the left */
}

.user-info {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 10px; /* Add spacing between username and sign-out button */
}

.signout-btn {
  background-color: transparent;
  border: none;
  color: #fff; /* Ensure button text is visible */
  cursor: pointer;
  font-size: 1rem;
  padding: 5px 10px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .navbar {
      padding: 10px 20px; /* Adjust padding for smaller screens */
  }
}
